<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="chessbet.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon"
        android:label="${appNameValue} ${env}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="chessbet.app.com.SignUpActivity" />
        <activity android:name="chessbet.app.com.activities.LoginActivity" />
        <activity android:name="chessbet.app.com.BoardActivity"/>
        <activity android:name="chessbet.app.com.activities.MainActivity"/>
        <activity android:name="chessbet.app.com.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6366215233867718~5575140942" /> <!-- FCM SETUP -->
    </application>
</manifest>