<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chessbet.app.com">
    <!-- adds the INTERNET permission as we need to make network calls. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        tools:replace="android:label"
        android:name="chessbet.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon"
        android:label="${appNameValue} ${env}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tournament.MyTournamentsActivity"/>
        <activity android:name=".tournament.TournamentActivity" />
        <activity android:name=".PlayComputerSettingsActivity" />
        <activity
            android:name=".PgnViewerActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
        </activity>
        <activity android:name=".GameAnalysisActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6366215233867718~5575140942" /> <!-- FCM SETUP -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chesslogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" /> <!-- FCM SETUP -->
        <activity android:name=".BoardActivity" />
        <activity android:name=".PresenceActivity" />

        <service
            android:name="chessbet.services.MatchService"
            android:icon="@drawable/chesslogo"
            android:label="@string/match_service" />
        <service
            android:name="chessbet.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>