<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="chessbet.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/chess_bet_logo"
        android:label="${appNameValue} ${env}"
        android:largeHeap="true"
        android:roundIcon="@mipmap/chess_bet_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="chessbet.app.com.WithdrawActivity" />
        <activity android:name="chessbet.app.com.TransactionsActivity" />
        <activity android:name="chessbet.app.com.DepositActivity" />
        <activity android:name="chessbet.app.com.BoardActivity" android:screenOrientation="portrait"/>
        <activity android:name="chessbet.app.com.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="chessbet.app.com.LoginActivity" />
        <activity android:name="chessbet.app.com.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6366215233867718~7929924007" />

        <service
            android:name="chessbet.services.MatchService"
            android:icon="@drawable/chesslogo"
            android:label="@string/match_service" />
    </application>

</manifest>